.form-input-section {
  padding: 0px 5px;
}

.input-row-section {
  margin: 25px 0px;
}

.name {
  width: 75%;
  padding: 10px 0px;
  margin: 0px 5px;
}

input[type="text"] {
  font-size: 120%;
  padding-left: 15px;
}

input[type="tel"] {
  font-size: 120%;
  padding-left: 15px;
}
.names {
  width: 600px;
}

.names label {
  font-size: 150%;
  vertical-align: middle;
}

#email-section {
  text-align: center;
  margin-left: 10px;
}

#phone-section {
  margin-left: 5px;
}

#comments {
  padding: 0px 375px;
}

#comment-section label {
  vertical-align: top;
}

#comment-section #text-area-input {
  width: 500px;
  height: 200px;
  font-size: 120%;
  padding: 10px;
  margin-top: 10px;
}

#form-submit-button {
  padding: 0px 400px;
}

#contact-form-button {
  width: 43em;
  cursor: pointer;
}
