#daily-design-section {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, red, blue); /* Standard syntax */
  padding-bottom: 50px;
}

#daily-design-section .section-content {
  padding: 0px 600px;
}

#daily-design-section a:hover {
  text-decoration: underline;
}

span.feed-box {
  cursor: pointer;
	display:block;
	width:200px;
	height:200px;
	margin:0 auto;
	background:#F9A004;
	box-shadow:
		1px 1px 0 #C27C03,
		2px 2px 0 #C27C03,
		3px 3px 0 #C27C03,
		4px 4px 0 #C27C03,
		5px 5px 0 #C27C03,
		6px 6px 0 #C27C03;
	-moz-box-shadow:
		1px 1px 0 #C27C03,
		2px 2px 0 #C27C03,
		3px 3px 0 #C27C03,
		4px 4px 0 #C27C03,
		5px 5px 0 #C27C03,
		6px 6px 0 #C27C03;
	-webkit-box-shadow:
		1px 1px 0 #C27C03,
		2px 2px 0 #C27C03,
		3px 3px 0 #C27C03,
		4px 4px 0 #C27C03,
		5px 5px 0 #C27C03,
		6px 6px 0 #C27C03;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

span.feed-box * {
  float:right;
  display:block;
}

span.feed-box .feed-box-in {
	border:4px solid #FFC563;
	width:184px;
	height:184px;
	margin:4px 4px 0 0;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	overflow:hidden
}

span.feed-box .feed-box-in .feed-quarter-circle-big {
	margin:16px 16px 0 0;
	width:260px;
	height:260px;
	border:30px solid #FFDEA5;
	-moz-border-radius:260px;
	-webkit-border-radius:260px;
	border-radius:260px
}

span.feed-box .feed-box-in .feed-quarter-circle-big .feed-quarter-circle-small {
	margin:16px 16px 0 0;
	width:176px;
	height:176px;
	border:26px solid #FFDEA5;
	-moz-border-radius:176px;
	-webkit-border-radius:176px;
	border-radius:176px
}

span.feed-box .feed-box-in .feed-quarter-circle-big .feed-quarter-circle-small .feed-circle {
	margin:24px 24px 0 0;
	background:#FFDEA5;
	width:70px;
	height:70px;
	-moz-border-radius:70px;
	-webkit-border-radius:70px;
	border-radius:70px
}

span.feed-box:hover {
	background:#07C103;
	box-shadow:
		1px 1px 0 #058E02,
		2px 2px 0 #058E02,
		3px 3px 0 #058E02,
		4px 4px 0 #058E02,
		5px 5px 0 #058E02,
		6px 6px 0 #058E02;
	-moz-box-shadow:
		1px 1px 0 #058E02,
		2px 2px 0 #058E02,
		3px 3px 0 #058E02,
		4px 4px 0 #058E02,
		5px 5px 0 #058E02,
		6px 6px 0 #058E02;
	-webkit-box-shadow:
		1px 1px 0 #058E02,
		2px 2px 0 #058E02,
		3px 3px 0 #058E02,
		4px 4px 0 #058E02,
		5px 5px 0 #058E02,
		6px 6px 0 #058E02
}

span.feed-box:hover .feed-box-in {
	border-color:#58FC55
}

span.feed-box:hover .feed-box-in .feed-quarter-circle-big,
span.feed-box:hover .feed-box-in .feed-quarter-circle-big .feed-quarter-circle-small {
	border-color:#B9FFB7
}

span.feed-box:hover .feed-box-in .feed-quarter-circle-big .feed-quarter-circle-small .feed-circle {
	background:#B9FFB7
}

#daily-design-section #reference {
  font-size: 200%;
  text-align: center;
}

.design-description {
  margin-left: 10px;
  vertical-align: top;
}

.design-description h3 {
  margin-left: 20px;
}
