@import url('contact.css');
@import url('daily-design.css');

body {
	font-family: 'Bangers', cursive;
	/*-Remove white border around html page-*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	/*--------------------------------------*/
}

a {
	text-decoration: none;
}

header {
	text-align: center;
	background: url("../images/bg@14400.jpg");
	background-size: cover;
	color: white;
}

section {
	background-repeat: no-repeat;
	z-index: 1;
	background-size: cover;
	width: 100%;
}

.inline {
	display: inline-block;
}

section#interests {

}

.interest-item-label {
	text-align: center;
}

#interests .image {
	margin: 10px 60px;
}

section#countries {
	background-image: url('../images/map_background_1.jpg');
}
section#ethnicity {
	background-image: url('../images/philippines_flag_section_background.jpg');
	height: 1000px;
}

#countries .section-title {
	color: HoneyDew;
}

#ethnicity .section-title {
	color: HoneyDew;
}

.section-title {
	text-align: center;
	margin: 0px;
	padding-top: 20px
}

#contact_social {
	color: black;
}

#header_bottom_strip {
	display: inline;
	padding: 0px 10px 0px 10px;
	font-size: 200%;
}

h1 {
	font-size: 80px;
}

#banner-profile-picture {
	margin: 70px 0px 0px 0px;
	border: 9px solid white;
	border-radius: 23px;
  height: 350px;
  width: 500px;
}

.image {
	position: relative;
	display: inline-block;
	margin: 10px 10px;
}

.image:hover {
	opacity: 0.7;
	-webkit-box-shadow: 13px 13px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    13px 13px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         13px 13px 5px 0px rgba(50, 50, 50, 0.75);
}

.interest-image {
	border: 9px solid white;
	border-radius: 23px;
  height: 350px;
  width: 500px;
}

.images-flag {
  /*border-radius: 23px;*/
  height: 250px;
  width: 400px;
}

.section-content {
  padding: 25px 190px;
}

.item {
	margin: 0px	40px;
}

.philippines-item {
	padding: 0px 150px;
}

#philippines-map {
	height: 250px;
}

#philippines-map:hover {
	-webkit-box-shadow: 13px 13px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    13px 13px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         13px 13px 5px 0px rgba(50, 50, 50, 0.75);
}

#philippines-wiki-title {
	text-align: center;
	color: OldLace;
}

.philippines-description {
	vertical-align: top;
	color: OldLace;
}

.philippines-description p {
	font-size: 115%
}

.section-content-video-item {
	width: 560px;
	display: inline-block;
	margin: 5px 35px;
}

.video-item-label {
	text-align: center;
	color: SkyBlue;
}

.countries-list-item-label {
	position: absolute;
	top: 70px;
	left: 140px;
  display: inline;
  list-style: none;
	width: 100%;
	color: black;
	font-size: 250%;
}

.countries-list-item-label:hover {
	color: SlateGrey;
}

#menu {
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	margin: 0 auto;
}

#menu li:hover {
	text-decoration: underline;
}

@media(max-width: 500px) {
	body {
		background: orange;
	}

	h1 {
		font-size: 30px;
	}

	li {
		display:block;
		padding: 5px;
	}
}

#quotes-section {
	width: 974px;
	vertical-align: top;
}

.quotes-padding {
	padding: 0px 50px;
}

#quotes-title {
	font-size: 250%;
  padding: 15px 0px 0px 25px;
}

.quote {
	margin: 30px 0px;
	font-size: 125%;
}

article {
	color: black;
	max-width: 500px;
	padding: 23px;
	margin: 0 auto;
}
